    /// Homepage Styles File
    /// Here we import all the Styles files we need for our Homepage.

    body {
        background-color: #0F162D;
    }

    h1,
    p,
    span {
        font-family: 'DM Sans', sans-serif;
        color: white;
    }

    main {
        padding: 0 24px;
        display: flex;
        align-items: flex-start;

    }

    .header {
        &__text {
            h1 {
                margin-block-start: 0;
                font-size: 48px;
                line-height: 56px;
                font-weight: 500;
                letter-spacing: -0.002em;
                margin-bottom: 24px
            }
    
            span {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }
    
        }
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        column-gap: 24px;
        row-gap: 31px;

        &__category {
            background: #272D42;
            border-radius: 24px;
            color: white;
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 16px;
            padding-right: 16px;

            *{
                text-align: center;
            }
    
            h4 {
                text-align: center;
                font-size: 20px;
                line-height: 0px;
                font-weight: 500;
            }
    
            span {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                opacity: 0.5;   
            }
        }
    }

    