    /// Homepage Styles File
    /// Here we import all the Styles files we need for our Homepage.

    body {
        background-color: #0F162D;
    }

    h1,
    p,
    span {
        font-family: 'DM Sans', sans-serif;
        color: white;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 7em;
        margin-top: 8em;
    }

    .header {
        width: 467px;
    }

    .header__text {
        &>h1 {
            font-size: 48px;
            line-height: 56px;
            font-weight: 500;
            letter-spacing: -0.002em;
            margin-bottom: 24px
        }

        &>span {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }

    }

    .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(100px, auto));
        grid-column-gap: 20px;
        row-gap: 30px;

        margin-top: 2em;
    }

    .categories__category {
        width: 268px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #272D42;
        border-radius: 24px;
        text-align: center;
        color: white;

        &>h4 {
            font-size: 20px;
            line-height: 0px;
            font-weight: 500;
        }

        &>span {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            opacity: 0.5;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 24;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        main {
        flex-direction: column;
        align-items: center;
        margin-top: 13em;
        gap: 1em;
        }

        .categories {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(100px, auto));
        margin-top: 0;
        }
        
        .categories__category {

        }
    }
    
    @media screen and (max-width: 767px) {
        main {
        margin-top: 0;
        flex-direction: column;
        gap: 0;
        }
        
        .header {
        }

        .header__text {
            &>h1 {
                font-size: 32px;
                line-height: 40px;
            }

            &>span {
                width: 343px;
                height: 120px;
                font-weight: 400;
                font-size: 16px;
            }
        }

        .categories {
            margin-left: 2em;
            margin-right: 2em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        }
        
        .catergoris__category {
            margin: auto;
            height: 196px;
        }
    }
    