    /// Homepage Styles File
    /// Here we import all the Styles files we need for our Homepage.

    body {
        background-color: #0F162D;
    }

    h1,
    p,
    span {
        font-family: 'DM Sans', sans-serif;
        color: white;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header {
        margin-left: 9em;
    }

    .header__text {
        &>h1 {
            font-size: 48px;
            line-height: 56px;
            font-weight: 500;
            letter-spacing: -0.002em;
            margin-bottom: 24px
        }

        &>span {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }

    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .categories__category {
            flex-basis: calc(25% - 25px);
            background: #272D42;
            border-radius: 24px;
            text-align: center;
            color: white;
    
            &>h4 {
                font-size: 20px;
                line-height: 0px;
                font-weight: 500;
            }
    
            &>span {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                opacity: 0.5;
                padding-left: 16px;
                padding-right: 16px;    
            }
        }
    }

    