:root{
    --color-background: rgb(15, 22, 45);
    --color-category: rgb(39, 45, 66);
    --text-color: rgb(255, 255, 255);
    --text-sec-color:rgba(255, 255, 255, 0.5);
    --text-header__title-size: 48px;
    --text-header__title-line-height: 56px;
    --hero-max-width: 1136px;
    --header-max-width: 467px;
    --header-margin-bottom: 24px;
    --text-header__description-size: 16px;
    --text-header__description-line-height: 24px;
    --font-family: 'DM Sans', sans-serif;
    --font-weight-main: 500;
    --font-weight-sub: 400;
    --font-style-main: normal;
    --gap: 109px;
    --margin: 159px auto;
    --padding-block: 0 16px;
    --padding-category: 24px 0;
    --category-width: 268px;
    --category-height: 240px;
    --category-title-size: 20px;
    --category-description-size: 16px;
    --category-description-line-height: 24px;
    --catrogry-image-size: 64px;
    --border-radius: 24px;
    --gap-element: 14px;
    --row-gap: 31px;
    --column-gap: 24px;
}

body {
    background-color: var(--color-background);
}

h1,p,span {
    font-family: var(--font-family);
    color: var(--text-color);
    font-style: var(--font-style-main);
}

.hero {
    max-width: var(--hero-max-width);
    margin: var(--margin);
    padding: var(--padding-block);
    display: flex;
    justify-content: center;
    gap: var(--gap);
    align-items: flex-start;


    &__header {
        display: flex;
        flex-wrap: wrap;
        max-width: var(--header-max-width);
    }

    &__title {
        margin-block-start: 0;
        font-size: var(--text-header__title-size);
        line-height: var(--text-header__title-line-height);
        font-weight: var(--font-weight-main);
        margin-bottom: var(--header-margin-bottom);
    }

    &__description {
        font-size: var(--text-header__description-size);
        line-height: var(--text-header__description-line-height);
        font-weight: var(--font-weight-sub);
    }

    &__categories {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, minmax(45%, 1fr));
        column-gap: var(--column-gap);
        row-gap: var(--row-gap);
        text-align: center;
        
    }
    &__category {
        
        padding: var(--padding-category);
        display: flex;
        flex-direction: column;
        gap: var(--gap-element);
        box-sizing: border-box;
        width: var(--category-width);
        min-height: var(--category-height);
        background: var(--color-category);
        border-radius: var(--border-radius);
        transition: box-shadow 0.2s ease-in-out;
        align-content: start;
        
        &-image {
            &-image > img{
                width: var(--catrogry-image-size);
                height: var(--catrogry-image-size);
            }
        }

        &-title {
            font-size: var(--category-title-size);
            font-weight: var(--font-weight-main);
            letter-spacing: 0.2px;
        }

        &-description {
            --text-color: var(--text-sec-color);
            font-size: var(--category-description-size);
            font-weight: var(--font-weight-sub);
            line-height: var(--category-description-line-height);
            padding: var(--padding-block);
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px){
    :root{
        --hero-max-width: 496px;
        --margin:247px auto;
        --header-max-width: 496px;
        --header-margin-bottom: 16px;
        --category-width: 496px;
        --row-gap: 16px;
        --column-gap: 16px;
        --padding-category: 20px 0;
        --category-width: 240px;
        --category-height: 218px;
        --border-radius: 20px;
        --category-description-size: 14px;
        --category-description-line-height: 22px;
        --catrogry-image-size: 56px;
    }
    .hero{
        flex-direction: column;
        gap: 0;
        &__description{
            margin-bottom: 24px;
        }
        &__category{
            &-image > img{
                --catrogry-image-size: 56px;
                width: var(--catrogry-image-size);
                height: var(--catrogry-image-size);
            }
        }
    }
}

@media only screen and (max-width: 767px){
    :root{
        --hero-max-width: 343px;
        --margin:48px auto;
        --header-max-width: 496px;
        --header-margin-bottom: 16px;
        --text-header__title-size: 32px;
        --text-header__title-line-height: 40px;
        --text-header__description-size: 16px;
        --row-gap: 16px;
        --column-gap: 16px;
        --padding-category: 20px 0;
        --padding-block: 0 20px;
        --category-width: 240px;
        --category-height: 218px;
        --border-radius: 20px;
        --category-description-size: 14px;
        --category-description-line-height: 22px;
        --catrogry-image-size: 56px;
    }
    .hero{
        flex-direction: column;
        gap: 0;
        &__description{
            margin-bottom: 24px;
        }
        &__categories{
            grid-template-columns: repeat(1, 1fr);
        }
        &__category{
            --category-width: 343px;
            --category-height: 196px;
            &-image > img{
                --catrogry-image-size: 56px;
                width: var(--catrogry-image-size);
                height: var(--catrogry-image-size);
            }
        }
    }
}

@media only screen and (max-width: 375px){
    :root{
        --hero-max-width: 100%;
        --margin: 48px auto;
        --header-max-width: 380px;
        --header-margin-bottom: 20px;
        --row-gap: 20px;
        --column-gap: 20px;
        --padding-category: 12px 0;
        --border-radius: 20px;
        --category-description-size: 14px;
        --category-description-line-height: 22px;
        --catrogry-image-size: 48px;
        --text-header__description-line-height: 18px;
        --padding-block: 0 20px;
        }
    .hero{
        &__category{
            border-radius: 20px;
            padding: 12px 0;
            --category-width: 100%;
            &-image > img{
                --catrogry-image-size: 54px;
                width: var(--catrogry-image-size);
                height: var(--catrogry-image-size);
            }
            &-title{
            }
            &-description{
                line-height: 18px;
                padding: 0 16px;
            }
        }
    }
}
